.header {
    width: 100%;
    height: auto;
    margin-top: 0px;
    z-index: 1;
    padding: 0px;

    .alert-alert-dark {
        display: flex;
        background-color: #dee2e6;
        align-content: center;
        justify-content: space-around;
        width: 100%;
    }

    .df-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #9575CD;
        flex-direction: row;
        padding: 15px;

        .logo {
            display: flex;
            margin-left: 78px;
            align-items: center;
            justify-content: center;
            width: 35%;

            .logo p {
                margin: 50px;
            }

            .otra {
                color: #fffefe;
                font-family: 'Noto Sans JP', sans-serif;
                margin: 6%;
                font-weight: 540;
            }

            .imagenlogo {
                width: 100%;
            }
        }
    }
}

.buscador {
    margin-left: 128px;
    margin-right: auto;
    width: 651px;
    display: flex;
}

.buscador input {
    width: 618px;
    height: 29px;
}

.iconos {
    width: 500px;
    display: flex;
    font-size: 26px;
    color: white;
    margin-left: 161px;
    justify-content: space-evenly;
}

.iconos {
    @extend %Iconos;

}