* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.contenedor {
    width: 100%;
    max-width: 2500px;
    margin: 0 auto;
}